@{
    ViewBag.Title = "BaseCss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#typography"><i class="icon-chevron-right"></i>Typography</a></li>
            <li><a href="#code"><i class="icon-chevron-right"></i>Code</a></li>
            <li><a href="#tables"><i class="icon-chevron-right"></i>Tables</a></li>
            <li><a href="#forms"><i class="icon-chevron-right"></i>Forms</a></li>
            <li><a href="#buttons"><i class="icon-chevron-right"></i>Buttons</a></li>
            <li><a href="#images"><i class="icon-chevron-right"></i>Images</a></li>
        </ul>
    </div>
    <div class="span9">
        <section id="forms">
            <h1>Forms</h1>
            <h2>BeginForm</h2>
            <h2>BeginControlGroup</h2>
            <h2>BootstrapValidationSummary</h2>
        </section>
    </div>
</div>
