@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@using Mvc.Html.Bootstrap;

<ul class="nav">
    @foreach (var node in Model.Nodes) {        
        <li @Html.GetBootstrappCssClass(node)>@Html.DisplayFor(m => node) 
            @if (node.Children.Any()) {
                @Html.DisplayFor(m => node.Children)
            }
            @Html.Partial("Bootstrap/MenuDropDown", node)
        </li>
    }
</ul>