@{
    ViewBag.Title = "Contact";
}
<div class="row-fluid">
    <div class="span12">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <h3>Phone</h3>
        <p>
            <span class="label">Main:</span>
            <span>425.555.0100</span>
        </p>
        <p>
            <span class="label">After Hours:</span>
            <span>425.555.0199</span>
        </p>
    </div>
    <div class="span4">
        <h3>Email</h3>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>
    </div>
    <div class="span4">
        <h3>Address</h3>
        <p>
            One Microsoft Way<br />
            Redmond, WA 98052-6399
        </p>
    </div>
</div>