@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="span12">
        <div class="hero-unit">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div><!--/span-->
}
<div class="span12">
    <h3>We suggest the following:</h3>
    <div class="row-fluid">
        <div class="span4">
            <h3>Getting Started</h3>
            <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards.
            </p>
            <a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </div><!--/span-->
        <div class="span4">
            <h3>Add NuGet packages</h3>
            <p>NuGet makes it easy to install and update free libraries and tools.</p>
            <a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </div><!--/span-->
        <div class="span4">
            <h3>Find Web Hosting</h3>
            <p>You can easily find a web hosting company that offers the right mix of features
            and price for your applications.</p>
            <a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
        </div><!--/span-->
    </div><!--/row-->
</div>